.bs-multi-range {
    width: 100%;
}

.bs-multi-range>.track {
    width: 100%;
    background: #f0f0f0;
    height: 8px;
    height: calc(var(--thumb-size, 16px) / 2);
    border-radius: 1rem;
}

.bs-multi-range .thumb {
    z-index: 1;
    height: 16px;
    height: var(--thumb-size, 16px);
    width: 16px;
    height: var(--thumb-size, 16px);

    background: dodgerblue;
    background: var(--thumb-color, var(--bs-blue, dodgerblue));

    border-radius: 100%;

    position: relative;

    cursor: pointer;
}

.bs-multi-range .upper {
    bottom: calc(var(--thumb-size, 16px) / 4);
}

.bs-multi-range .lower {
    bottom: calc(calc(var(--thumb-size, 16px) / 4) + var(--thumb-size, 16px))
}

.bs-multi-range .track-diff {
    height: 8px;
    height: calc(var(--thumb-size, 16px) / 2);
    position: relative;
    left: 0;
    bottom: calc(calc(var(--thumb-size, 16px)) + var(--thumb-size, 16px));
    background: lightgray;
    background: var(--slider-diff-color, lightgray);
}